.main {
  position: absolute;
  top: 80px;
  bottom: 50px;
  width: 100%;
  background-color: #dfe6e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .data-displayer {
  font-size: 36px;
  font-weight: bold;
}

.main .temp {
  color: #e67e22;
}

.main .humidity {
  color: #3498db;
}
